[user]
  name = Ryota Ikezawa
  email = pavegy@gmail.com
[color]
  branch = auto
  diff = auto
  grep = auto
  interactive = auto
  status = auto
[core]
  editor = nvim
  quotepath = false
[ghq]
  root = ~/src
[credential]
  helper = osxkeychain
[diff "sopsdiffer"]
  textconv = sops -d
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[mergetool "nvimdiff"]
  cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
[alias]
  a = add
  p = pull
  b = branch
  s = status
  d = "!f() { args=$@; [ -z \"$args\" ] && args=HEAD; ([ \"$args\" = \"HEAD\" ] && git status --short || git diff --name-status $args | sed 's/\t/  /') | fzf-tmux --reverse --ansi --preview \" echo {} | cut -c 4- | xargs git diff --color=always $args --\" --multi --height 90% | cut -c 4-; }; f"
  f = fetch
  rh = reset --hard
  bd = branch -d
  bdf = branch -D
  pu = push
  ci = commit
  cm = commit -m
  cl = config --list
  co = checkout
  cb = checkout -b
  ll = log --pretty=oneline
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[includeIf "gitdir:~/src/github.com/C-FO/"]
  path = config.work
[secrets]
  patterns = private_key
  patterns = private_key_id
  providers = git secrets --aws-provider
  patterns = [A-Z0-9]{20}
  patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
  patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
  allowed = AKIAIOSFODNN7EXAMPLE
  allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
